# Use, modification, and distribution are
# subject to the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
#
# Copyright 2015 Mathieu Champlon
# Copyright 2020-2025 Alexander Grund

skip_branch_with_pr: true

branches:
  only:
    - main

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST: 1_65_1
      TOOLSET: msvc-14.0
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST: 1_65_1
      TOOLSET: msvc-14.1
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      BOOST: 1_69_0
      TOOLSET: msvc-14.1
      CXX_STANDARD: 14,17

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      BOOST: 1_83_0
      TOOLSET: msvc-14.3
      CXX_STANDARD: 14,17,20
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      BOOST: 1_86_0
      TOOLSET: msvc-14.3
      CXX_STANDARD: 14,17,20

    # CMake builds
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      BOOST: 1_65_1
      CMAKE: true
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      BOOST: 1_83_0
      CMAKE: true
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      BOOST: 1_86_0
      CMAKE: true

install:
  - appveyor-retry powershell Invoke-WebRequest http://www.oasis-open.org/docbook/xml/4.2/docbook-xml-4.2.zip -OutFile docbook-xml.zip
  - appveyor-retry powershell Invoke-WebRequest https://github.com/docbook/xslt10-stylesheets/releases/download/release/1.79.2/docbook-xsl-1.79.2.zip -OutFile docbook-xsl.zip
  - 7z x -oC:\Boost\share\docbook-xml docbook-xml.zip
  - 7z x -oC:\Boost\share docbook-xsl.zip
  - mkdir %APPVEYOR_BUILD_FOLDER%\bin
  - cd %APPVEYOR_BUILD_FOLDER%\bin
  - appveyor-retry powershell Invoke-WebRequest https://www.zlatkovic.com/pub/libxml/iconv-1.9.2.win32.zip -OutFile iconv.zip
  - 7z e iconv.zip iconv.dll -r
  - appveyor-retry powershell Invoke-WebRequest https://www.zlatkovic.com/pub/libxml/libxml2-2.7.8.win32.zip -OutFile libxml2.zip
  - 7z e libxml2.zip libxml2.dll -r
  - appveyor-retry powershell Invoke-WebRequest https://www.zlatkovic.com/pub/libxml/libxslt-1.1.26.win32.zip -OutFile libxslt.zip
  - 7z e libxslt.zip libexslt.dll libxslt.dll xsltproc.exe -r
  - appveyor-retry powershell Invoke-WebRequest https://www.zlatkovic.com/pub/libxml/zlib-1.2.5.win32.zip -OutFile zlib.zip
  - 7z e zlib.zip zlib1.dll -r
  - xsltproc -V

build_script:
  - set PATH=%PATH%;%APPVEYOR_BUILD_FOLDER%\bin
  - set BOOST_ROOT=C:\Libraries\boost_%BOOST%
  - cd %BOOST_ROOT%
  - call bootstrap.bat
  - cd %APPVEYOR_BUILD_FOLDER%
  - if NOT "%CXX_STANDARD%"=="" set CXX_FLAGS=cxxstd=%CXX_STANDARD%
  - set BUILD_ARGS=address-model=32,64 variant=debug,release
  - call scripts\build.bat --toolset=%TOOLSET% %CXX_FLAGS% -j3

for:
  - matrix:
      only: [CMAKE: true]
    install: true
    build_script:
      - set BOOST_ROOT=C:\Libraries\boost_%BOOST%
      - cd %APPVEYOR_BUILD_FOLDER%
      - mkdir build && cd build
      - cmake .. -DCMAKE_BUILD_TYPE=Debug
      - cmake --build . --config Debug
      - ctest --output-on-failure --build-config Debug
